---
layout: default
title: "All Changes"
permalink: /changes/
---

<style>
/* dateとタイトルの下部余白を狭くする */
.release-notes ul li .meta {
  margin-bottom: 0px;  /* 必要に応じて調整 */
}

/* descriptionの上部余白を狭くする */
.release-notes ul li .description {
  margin-top: 0;
}
</style>

<!-- StarryData2 の最新5件 -->
<section class="release-notes">
  <h2>StarryData2</h2>
  <ul>
    {% assign starrydata2_notes = site.changes | where_exp:"post", "post.url contains '/changes/starrydata2/'" | sort:"date" | reverse %}
    {% for post in starrydata2_notes limit:5 %}
      <li>
        <p class="meta">{{ post.date | date: "%B %d, %Y" }} - <a href="{{ post.url }}">{{post.version}} {{ post.title }}</a></p>
        <p class="description">{{ post.description }}</p>
      </li>
    {% endfor %}
  </ul>
</section>

<!-- Starrydata Visualizer の最新5件 -->
<section class="release-notes">
  <h2>Starrydata Visualizer</h2>
  <ul>
    {% assign visualizer_notes = site.changes | where_exp:"post", "post.url contains '/changes/visualizer/'" | sort:"date" | reverse %}
    {% for post in visualizer_notes limit:5 %}
      <li>
        <p class="meta">{{ post.date | date: "%B %d, %Y" }} - <a href="{{ post.url }}">{{post.version}} {{ post.title }}</a></p>
        <p class="description">{{ post.description }}</p>
      </li>
    {% endfor %}
  </ul>
</section>
